@{
    ViewData["Title"] = "Home Page";
}

@model SearchViewModel

<div class="row">
    <div class="container text-center">
        <h2>Search Ranking</h2>
        <form asp-action="Index" asp-controller="Home">
            <label asp-for="SearchText"></label>
            <input asp-for="SearchText" placeholder="Search" />
            <label asp-for="DomainUrl"></label>
            <input asp-for="DomainUrl" placeholder="Domain url" />
            <input type="submit" value="Get Google Ranking" />
        </form>

        <h2>@Model.Rankings</h2>
    </div>
</div>
